.slider-wraper {
  position: relative;
  .carousel {
    .slider-button {
      position: absolute;
      top: -1rem;
      left: 84%;

      button {
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 3rem;
      }
    }
  }
  .carousel-inner {
    height: 30rem;
    margin-bottom: 3rem;
    padding: 4rem 3rem 0 3rem;

    .card {
      height: 20rem;

      backdrop-filter: blur(50px);
      .card-title {
        font-size: 1.4rem;
      }
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: red;
    height: 4rem;
    width: 4rem;
    position: absolute;
    right: 0;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
